aiohttp==0.21.6
aiotg==0.7.2
chardet==2.3.0
crc16==0.1.1
cssselect==0.9.1
google-api-python-client==1.5.1
httplib2==0.9.2
lxml==4.6.2
mechanize==0.2.5
oauth2client==2.1.0
pkg-resources==0.0.0
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyTelegramBotAPI==1.4.2
pytest==2.9.1
python-redis==0.0.6
pytz==2016.4
redis==2.10.5
requests==2.5.3
rsa==3.4.2
selenium==2.53.2
simplejson==3.8.2
six==1.10.0
splinter==0.7.3
uritemplate==0.6
urllib3==1.14
zope.event==4.2.0
zope.interface==4.1.3
zope.schema==4.4.2
zope.testbrowser==4.0.4
